h1,
h2 {
   font-family: "Optima", "Georgia", "Times New Roman", "Arial", "Helvetica", sans-serif;
}

p {
   font-family: "Georgia", "Times New Roman", "Arial", "Helvetica", sans-serif;
}

a {
   color: #5588aa;
}

a:hover {
   color: #cc6600;
   text-decoration: none;
}

li,
td,
body {
   font-size: 11pt;
   font-family: "Optima", "Georgia", "Times New Roman", "Arial", "Helvetica", sans-serif;
   background: #FFFFFF;
   color: #333333;
   margin-left: 10%;
   margin-right: 10%;
}

.exam {
   background-color: green;
   color: yellow;
}

.header {
   position: relative;
   min-height: 36vh;
   width: 100%;

}

.subheader {
   position: absolute;
   bottom: 0;
   width: 100%;
   color: white;
   margin-bottom: 20px;
   font-size: 20px;
}

.bg-overlay {
   background-image: linear-gradient(360deg, #00573F 19%, #00573F00 87%);
   position: absolute;
   top: 0;
   height: 36vh;
   width: 100vw;
   opacity: 64%;
   margin-left: -13%;
}

#uplb-ics {
   color: maroon;
}

.pub-info {
   margin-top: 20px;
   margin-bottom: 20px;
}

#pub-title {
   font-family: "Optima", "Georgia", "Times New Roman", "Arial", "Helvetica", sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 5;
}

#pub-author {
   font-family: "Avenir", "Optima", "Georgia", "Times New Roman", "Arial", "Helvetica", sans-serif;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 5;
}

#pub-journ {
   font-family: "Avenir", "Optima", "Georgia", "Times New Roman", "Arial", "Helvetica", sans-serif;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 5;
}